---
import ChallengeCard from "./ChallengeCard.astro";

interface Props {
    title?: string;
    heading?: string;
    paragraph?: string;
    featuresList?: string[];
    cards?: {
        title: string;
        paragraph: string;
        icon?: any;
    }[];
}
import EyeIcon from "../../../assets/icons/eye-icon.svg";

import RewardIcon from "../../../assets/icons/reward-icon.svg";
import RecycleIcon from "../../../assets/icons/recycle-icon.svg";
const {
    title = "Logo Anatomy",
    heading = "The Concept",
    cards = [
        {
            title: "Visual Fatigue",
            paragraph:
                "Overcoming the generic leaf cliches prevalent in the eco-friendly sector.",
            icon: EyeIcon,
        },
        {
            title: "Education",
            paragraph:
                "Communicating the refillable system clearly through packaging design.",
            icon: RecycleIcon,
        },
        {
            title: "Premium Feel",
            paragraph:
                "balancing earth-friendly materials with a high-end luxury aesthetic.",
            icon: RewardIcon,
        },
    ],
    paragraph = null,
} = Astro.props;
---

<div class="internal-padding bg-[#F0F2FF] py-12 lg:py-20">
    <span
        class="mb-4 text-lg font-semibold text-[#643DB4] capitalize md:text-xl"
    >
        {title}
    </span>
    <h1
        class="text-5xl font-semibold text-black capitalize md:text-4xl md:leading-tight lg:text-5xl xl:text-6xl 2xl:text-[68px]"
    >
        {heading}
    </h1>

    {
        paragraph && (
            <p
                set:html={paragraph}
                class="text-sm leading-8 text-[#535353] capitalize lg:text-lg"
            />
        )
    }

    <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        {
            cards.map((card) => (
                <ChallengeCard
                    title={card.title}
                    paragraph={card.paragraph}
                    icon={card.icon}
                />
            ))
        }
    </div>
</div>
